{% if data is not empty %}
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for news in data %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                    <img src="../../../{{ file_url(news.field_images.entity.uri.value) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.field_title.value }}</h5>
                        <p class="card-text">{{ news.field_description.value|raw }}</p>
                        <a href="{{ path('entity.node.canonical', {'node': news.id}) }}" class="btn btn-primary">Detail</a>
                    </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% else %}
{% endif %}