{% if data is not empty %}

    {% for banner in data %}
        <header class="masthead text-white text-center" style="background: url('../../../{{ file_url(banner.field_banner_image.entity.uri.value) }}') no-repeat center center;">
            <div class="overlay"></div>
            <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">{{ banner.field_banner_title.value }}</h1>
                {{ banner.field_banner_description.value }}
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </header>
    {% endfor %}
{% else %}
{% endif %}
