{{ page.banner }}

{# MAIN #}
{% block content %}
<main role="main">
    <section class="features-icons bg-light text-center">
        <div class="container">
            {% if is_front %}
                {{ page.event }}
                {{ page.news }}
            {% else %}
                <div class="col-md-8">
                    {{ page.content }}
                </div>
                <div class="col-md-4">
                </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}